<div class="container contain2">
<div class="hukidasi">
<h1>ログインページ</h1>
</div>
</div>

<div class="testtest">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email, "メールアドレス", class: "white" %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-3" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード", class: "white" %><br>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-3" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field white">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn-square col-5" %>
  </div>
<% end %>
</div>

<div class="container contain2">
<div class="hukidasi">
<p>
  <br>
  <span class="login-btn">ご登録がお済みでない方</span><br><br>
  お手数ですが、
  <%= link_to "こちら", new_user_registration_path%>
  から新規登録をお願いいたします。
</p>

</div>
</div>