<div class="container">
    <div class="contain2">
        <div class="hukidasi">
            <h1>
                <% if @user == current_user %>
                    マイページ
                <% else %>
                    <%= @user.name %>さんのページ
                <% end %>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p><%= attachment_image_tag @user, :image, size: "300x300" %></p>
            お名前&emsp;<%= @user.name %>
            <p><%= link_to "編集ページへ", edit_user_path(@user.id) %></p>
        </div>
        <div class="col-8">
            <% if @user.introduction == nil %>
                <p>まだ紹介文がありません</p>
            <% else %>
                <%= @user.introduction %>
            <% end %>
        </div>
    </div>
    <div class="contain2 hukidasi">
        <% if @user == current_user %>
            <h1>うちの子</h1>
        <% else %>
            <h1><%= @user.name %>さんちの子</h1>
        <% end %>

        <% if @pets.empty? %>
            <p>まだうちの子登録されていません</p>
            <p><%= link_to "うちの子登録ページへ", new_pet_path %></p>
        <% else %>
        <table class="table">
            <tbody>
            <tr>
            <% @pets.each do |pet| %>
                <td><%= attachment_image_tag pet, :image, size: "100x100" %></td>
                <td><%= pet.name %></td>
                <td><%= pet.introduction %></td>
                <td><%= pet.sex %></td>
                <td><%= pet.age %></td>
                <td><%= pet.genre.name %></td>
            <% end %>
            </tr>
            </tbody>
        </table>
        <% end %>

        <h1>投稿一覧</h1>
        <% if @posts.empty? %>
            <p>まだ投稿をされていません</p>
            <p><%= link_to "新規投稿ページへ", new_post_path %></p>
        <% else %>
        <div>
            <% @posts.each do |post| %>
            <div class="test">
                <p>
                    <%= link_to user_path(post.user) do %>
                        <%= attachment_image_tag post.user, :image, size: "50x50" %>
                        <%= post.user.name %>
                    <% end %>
                </p>
                <span>
                    <%= link_to post_path(post) do %>
                    <%= attachment_image_tag post, :image, size: "200x200" %>
                </span>
                <p><%= post.title %></p>
                <% end %>
                </div>
            <% end %>
        </div>
        <% end %>

    </div>
</div>