<div class="container contain2">
    <div class="hukidasi">
        <h1>投稿一覧ページ</h1>
        <div>
            <% @posts.each do |post| %>
            <div class="test">
                <p>
                    <%= link_to user_path(post.user) do %>
                        <%= attachment_image_tag post.user, :image, size: "50x50", class: "radius" %>
                        <%= post.user.name %>
                    <% end %>
                </p>
                <span>
                    <%= link_to post_path(post) do %>
                    <%= attachment_image_tag post, :image, size: "300x300", class: "radius" %>
                </span>
                <p><%= post.title %></p>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>