<div class="container contain2">
    <div class="hukidasi">
        <h1>投稿詳細ページ</h1>

        <div class="row">
            <div class="col-4">
                <%= attachment_image_tag @user, :image, size: "100x100" %>
                <%= @user.name %>&emsp;さんの投稿
                <%= attachment_image_tag @post, :image, size: "300x300" %>
                <p>
                    <% if @post.favorited_by?(current_user) %>
                        <%= link_to post_favorites_path(@post), method: :delete do %>
                            ♥<%= @post.favorites.count %>
                        <% end %>
                    <% else %>
                        <%= link_to post_favorites_path(@post), method: :post do %>
                            ♡<%= @post.favorites.count %>
                        <% end %>
                    <% end %>
                </p>
            </div>
            <div class="col-8">
                <%= attachment_image_tag @pet, :image, size: "100x100" %>
                <%= @pet.name %>
                <p>タイトル：<%= @post.title %></p>
                <p>本文：<%= @post.body %></p>
            </div>
        </div>
        <%= form_with model: [@post, @post_comment], local: true do |f| %>
            <%= f.text_area :body, placeholder: "コメントをここに", class: "col-10", rows: '7' %>
            <%= f.submit "送信" %>
        <% end %>
        <p>コメント一覧</p>

        <% @post.post_comments.each do |post_comment| %>
            <p>
                <%= attachment_image_tag post_comment.user, :image, size: "50x50" %>
                <%= post_comment.user.name %>
                <%= post_comment.body %>
                <%= post_comment.created_at.strftime("%Y/%m/%d") %>
                <% if post_comment.user == current_user %>
                    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, data: {confirm: "コメントを削除してもよろしいですか？"} %>
                <% end %>
            </p>
        <% end %>
    </div>
</div>