<div class="container contain2">
    <div class="hukidasi">
        <h1>投稿詳細ページ</h1>

        <div class="row">
            <div class="col-4">
                <%= attachment_image_tag @user, :image, size: "100x100" %>
                <%= @user.name %>&emsp;さんの投稿
                <%= attachment_image_tag @post, :image, size: "300x300" %>
                <div id="favorites_buttons_<%= @post.id %>">
                    <%= render partial: 'favorites/favorite', locals: {post: @post} %>
                </div>
            </div>
            <div class="col-8">
                <%= attachment_image_tag @pet, :image, size: "100x100" %>
                <%= @pet.name %>
                <p>タイトル：<%= @post.title %></p>
                <p>本文：<%= @post.body %></p>
            </div>
        </div>
        <%= form_with model: [@post, @post_comment], remote: true do |f| %>
            <%= f.text_area :body, placeholder: "コメントをここに", class: "col-10", rows: '7', id: "comment_textarea" %>
            <%= f.submit "送信" %>
        <% end %>
        <p>コメント一覧</p>

        <div class="comment_table">
            <%= render 'post_comments/post_comment', post_comments: @post_comments %>
        </div>
    </div>
</div>